In [1]:
## comment

In [2]:
name = 10
print(name)

10

In [3]:
Name = 10
print(Name)

10

In [4]:
_Name = 10
print(_Name)

10

In [5]:
N123ame = 10
print(N123ame)

10

In [6]:
## operator in python

In [7]:
## Arthmetic operators

In [8]:
print(10+5)
print(10-7)
print(10*6)
print(10/5)
print(10%5)
print(10**5)

15
3
60
2.0
0
100000

In [9]:
## Assignmnet operators
a = 10
print(a)

a += 10
print(a)

a -= 10
print(a)

a *= 10
print(a)

a /= 10
print(a)

a %= 10
print(a)

10
20
10
100
10.0
0.0

In [10]:
##Comparison operators

print(10 == 20)
print(10!= 20)
print(10 > 20)
print(10 < 20)
print(10 >= 20)
print(10 <= 20)

False
True
False
True
False
True

In [11]:
## Operators

## Logical ( and , or , not )

print(10 < 50 and 20 <100)
print(10 < 50 or 20 < 100)
print(not(10<50))

True
True
False

In [12]:
## Identify : Check if they are same object or not - Memory Location
a = 10
print(id(a))

b = 10
print(id(b))

a =[10]
print(type(a))
c = a.copy()
print(c)

print(a is b)
print(a is c)

a = [1,2,3]
b = [1,2,3]
c = a
print(a is c)

print((a==b))

print(id(a))
print(id(b))
print(id(c))

1629921503824
1629921503824
<class 'list'>
[10]
False
False
True
True
1627861274496
1627861274240
1627861274496

In [13]:
## Membership

a = [1,2,3,4,5,7,8]

print(3 in a)
print(3 not in a)

True
False

In [14]:
## variables

a = 10
suraj =100
alex = 999
lola = 123
print(lola)

123

In [15]:
## Number
print(type(10))
print(type(10.23))
print(type(123j))

<class 'int'>
<class 'float'>
<class 'complex'>

In [16]:
## String : Anything with in double and single qoutes
print(type("alex"))

<class 'str'>

In [17]:
a = 10
b = 12.88
c = "alex"

print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'str'>

In [18]:
## List : Mutable Collection of Object

a = [1,2,3]
print(type(a))

<class 'list'>

In [19]:
## Tuple : immutable

a = (1,2,3)
print(type(a))

<class 'tuple'>

In [20]:
## Set : Unordered and no duplicates :Immutable : no indexing
a = {10,20,1,2,3,4,5,6,7,8,9,4,4,4,4}
print(a)
print(type(a))

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 20}
<class 'set'>

In [21]:
## Dictionary : key value pair

a = {'a':10,'b':20,'c':30}
print(type(a))
print(a.keys())
print(a.values())

<class 'dict'>
dict_keys(['a', 'b', 'c'])
dict_values([10, 20, 30])

In [22]:
## Indexing

a = ['I','N','D','I','A','N']

#IND
print(a[ :3])

#DIA
print(a[2:5])

#NDIAN
print(a[1:])

#NDI
print(a[1:4])

['I', 'N', 'D']
['D', 'I', 'A']
['N', 'D', 'I', 'A', 'N']
['N', 'D', 'I']

In [23]:
## Control flow in Python

## If condition

x = 10

if x >= 100:
    print(" X greater than 100")
else:
    print("X lesser than 100")

X lesser than 100

In [24]:
## if , elif and else - check if x >= 50 and <=100

x = 110

if x <=50:
    print("X Greater than 50")
    
elif x <= 75:
    print("X is less than 75")
    
elif x <= 100:
    print(" X is less than 100")
    
else:
    print("X is Greater than 100")

X is Greater than 100

In [25]:
## For loop : it will iterate through a object

x = [1,2,3,4,5,6,7,8,9,10]

for i in x:
    print(i)

1
2
3
4
5
6
7
8
9
10

In [26]:
x = [1,2,3,4,5,6,7,8,9,10]

for i in x:
    print(i , 'X ', '999=',i*999)

1 X  999= 999
2 X  999= 1998
3 X  999= 2997
4 X  999= 3996
5 X  999= 4995
6 X  999= 5994
7 X  999= 6993
8 X  999= 7992
9 X  999= 8991
10 X  999= 9990

In [27]:
x = [1,2,3,4,5,6,7,8,9,10]

for i in x:
    print(i , 'x ', '12=',i*12)

1 x  12= 12
2 x  12= 24
3 x  12= 36
4 x  12= 48
5 x  12= 60
6 x  12= 72
7 x  12= 84
8 x  12= 96
9 x  12= 108
10 x  12= 120

In [28]:
## While loop : Run as long as the condition is true

x = 1

while x <= 10:
    print(x)
    
    x = x+1

1
2
3
4
5
6
7
8
9
10

In [29]:
## First 5 even numbers
x = [1,2,3,4,5,6,7,8,9,10,11]

for i in x:
    if i % 2 == 0:
        print(i)

2
4
6
8
10

In [30]:
## Break 

x = [1,2,3,4,5,6,7,8,9,10]

for i in x:
    print(i)
    if i == 8:
        break
        print("This is break condition")

1
2
3
4
5
6
7
8

In [31]:
## continue

x = [1,2,3,4,5,6,7,8,9,100]

for i in x :
    print(i)
    if i != 8:
        continue
    print("this is running........warning ")

1
2
3
4
5
6
7
8
this is running........warning
9
100

In [32]:
## pass\

x = [1,2,3,4,5,6,7,8,9,100]

def Futuredev():
    pass

In [33]:
## Function In python

def function(args):
    print(args* 10)

In [34]:
function(3)

30

In [35]:
def sm (a,b):
    """This Is Just Comment"""
    smm = a+b
    return(smm)

In [36]:
sm(10,90)

100

In [37]:
## Function to print " Welcome to Python"
def wcp():
    print("WELCOME TO Python")

In [38]:
wcp()

WELCOME TO Python

In [39]:
## Function to find the difference of 2 number and print the difference

def dn(a,b):
    diffnum = a - b
    print("The Difference between number is ", diffnum)

In [40]:
dn(10,2)

The Difference between number is  8

In [41]:
## range function : Generate sequence of number from  a list
##range(start,stop,step)

In [42]:


list(range(0,10,1))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [43]:
list(range(0,51,5))

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [50]:
## Global variables

a = 50 
def number():
    b = 30
    print(b)
    print(a)

In [51]:
number()

30
50

In [55]:
## local variables

a = 50
def number():
    b = 30
    print(b)
    print(b)

In [57]:
number()

30
30

In [58]:
## Lambda function - Doesnot have name - anonymous

def add(a,b):
    return(a+b)

In [60]:
add(10,20)

30

In [70]:
ad = lambda a,b: a+b

In [71]:
ad(10,20)

30

In [73]:
ml = lambda a,b: [(a+b),(a-b),(a*b)]
ml(10,20)

[30, -10, 200]

In [74]:
## Bluit in functions ,package and Modules.

## sys Module
## modules - sys, os , Math, datetime , Random

In [78]:
import sys

print(sys.version)
print(sys.argv)

3.9.12 (main, Apr  4 2022, 05:22:27) [MSC v.1916 64 bit (AMD64)]
['C:\\Users\\suraj\\anaconda3\\lib\\site-packages\\ipykernel_launcher.py', '-f', 'C:\\Users\\suraj\\AppData\\Roaming\\jupyter\\runtime\\kernel-26c3dc74-eb69-429b-98f3-ac656ca5e3b2.json']

In [86]:
## os
import os

print(os.getcwd())

## os.chidr("ADDRESS") - change directly
print(os.name)
print(os.environ)

C:\Users\suraj\PythonTest
nt
environ({'ACSVCPORT': '17532', 'ALLUSERSPROFILE': 'C:\\ProgramData', 'APPDATA': 'C:\\Users\\suraj\\AppData\\Roaming', 'COMMONPROGRAMFILES': 'C:\\Program Files\\Common Files', 'COMMONPROGRAMFILES(X86)': 'C:\\Program Files (x86)\\Common Files', 'COMMONPROGRAMW6432': 'C:\\Program Files\\Common Files', 'COMPUTERNAME': 'ALEX', 'COMSPEC': 'C:\\WINDOWS\\system32\\cmd.exe', 'DRIVERDATA': 'C:\\Windows\\System32\\Drivers\\DriverData', 'FPS_BROWSER_APP_PROFILE_STRING': 'Internet Explorer', 'FPS_BROWSER_USER_PROFILE_STRING': 'Default', 'HOMEDRIVE': 'C:', 'HOMEPATH': '\\Users\\suraj', 'JAVA_HOME': 'C:\\Program Files\\Java\\jdk1.8.0_202', 'LOCALAPPDATA': 'C:\\Users\\suraj\\AppData\\Local', 'LOGONSERVER': '\\\\ALEX', 'MAVEN_HOME': 'C:\\Program Files\\apache-maven-3.8.3-bin\\apache-maven-3.8.3', 'NUMBER_OF_PROCESSORS': '16', 'ONEDRIVE': 'C:\\Users\\suraj\\OneDrive', 'OS': 'Windows_NT', 'PATH': 'C:\\Users\\suraj\\anaconda3;C:\\Users\\suraj\\anaconda3\\Library\\mingw-w64\\bin;C:\\Users\\suraj\\anaconda3\\Library\\usr\\bin;C:\\Users\\suraj\\anaconda3\\Library\\bin;C:\\Users\\suraj\\anaconda3\\Scripts;"C:\\Program Files (x86)\\Common Files\\Oracle\\Java\\javapathC:\\Program Files\\Java\\jdk1.8.0_202\\bin;";C:\\Windows\\system32;C:\\Windows;C:\\Windows\\System32\\Wbem;C:\\Windows\\System32\\WindowsPowerShell\\v1.0\\;C:\\Windows\\System32\\OpenSSH\\;C:\\Program Files (x86)\\NVIDIA Corporation\\PhysX\\Common;C:\\Program Files\\NVIDIA Corporation\\NVIDIA NvDLISR;C:\\WINDOWS\\system32;C:\\WINDOWS;C:\\WINDOWS\\System32\\Wbem;C:\\WINDOWS\\System32\\WindowsPowerShell\\v1.0\\;C:\\WINDOWS\\System32\\OpenSSH\\;C:\\Program Files\\Java\\jdk1.8.0_202\\bin;C:\\Program Files\\apache-maven-3.8.3-bin\\apache-maven-3.8.3\\bin;C:\\Program Files\\Git\\cmd;C:\\Users\\suraj\\anaconda3;C:\\Users\\suraj\\anaconda3\\Library\\mingw-w64\\bin;C:\\Users\\suraj\\anaconda3\\Library\\usr\\bin;C:\\Users\\suraj\\anaconda3\\Library\\bin;C:\\Users\\suraj\\anaconda3\\Scripts;C:\\Users\\suraj\\miniconda3;C:\\Users\\suraj\\miniconda3\\Library\\mingw-w64\\bin;C:\\Users\\suraj\\miniconda3\\Library\\usr\\bin;C:\\Users\\suraj\\miniconda3\\Library\\bin;C:\\Users\\suraj\\miniconda3\\Scripts;C:\\Users\\suraj\\AppData\\Local\\Programs\\Python\\Python310\\Scripts\\;C:\\Users\\suraj\\AppData\\Local\\Programs\\Python\\Python310\\;C:\\Users\\suraj\\AppData\\Local\\Programs\\Microsoft VS Code\\bin', 'PATHEXT': '.COM;.EXE;.BAT;.CMD;.VBS;.VBE;.JS;.JSE;.WSF;.WSH;.MSC', 'PROCESSOR_ARCHITECTURE': 'AMD64', 'PROCESSOR_IDENTIFIER': 'AMD64 Family 25 Model 80 Stepping 0, AuthenticAMD', 'PROCESSOR_LEVEL': '25', 'PROCESSOR_REVISION': '5000', 'PROGRAMDATA': 'C:\\ProgramData', 'PROGRAMFILES': 'C:\\Program Files', 'PROGRAMFILES(X86)': 'C:\\Program Files (x86)', 'PROGRAMW6432': 'C:\\Program Files', 'PSMODULEPATH': 'C:\\Program Files\\WindowsPowerShell\\Modules;C:\\WINDOWS\\system32\\WindowsPowerShell\\v1.0\\Modules', 'PUBLIC': 'C:\\Users\\Public', 'SESSIONNAME': 'Console', 'SYSTEMDRIVE': 'C:', 'SYSTEMROOT': 'C:\\WINDOWS', 'TEMP': 'C:\\Users\\suraj\\AppData\\Local\\Temp', 'TMP': 'C:\\Users\\suraj\\AppData\\Local\\Temp', 'USERDOMAIN': 'ALEX', 'USERDOMAIN_ROAMINGPROFILE': 'ALEX', 'USERNAME': 'suraj', 'USERPROFILE': 'C:\\Users\\suraj', 'WINDIR': 'C:\\WINDOWS', 'CONDA_PREFIX': 'C:\\Users\\suraj\\anaconda3', 'PYDEVD_USE_FRAME_EVAL': 'NO', 'JPY_INTERRUPT_EVENT': '4024', 'IPY_INTERRUPT_EVENT': '4024', 'JPY_PARENT_PID': '3452', 'TERM': 'xterm-color', 'CLICOLOR': '1', 'PAGER': 'cat', 'GIT_PAGER': 'cat', 'MPLBACKEND': 'module://matplotlib_inline.backend_inline'})

In [92]:
# DAtetime
import datetime
from datetime import datetime

##print(datetime.time())
print(datetime.now())

2022-06-15 12:33:48.778727

In [293]:
import random

print(random.randrange(0,9999,20))

140