# Arithemethic opertor

In [1]:
# Addition operator

x = 10
y = 20

z = x+y 
print(" Answer : ",z)

 Answer :  30

In [2]:
# Subtraction operator

x = 30
y = 20

z = x-y
print(" Answer : ",z)

 Answer :  10

In [3]:
#Multiplication operator

x = 10
y = 2

z = x*y
print(" Answer :",z)

 Answer : 20

# Assignment Operator

In [10]:
# Equal to operator

x = 5
print("x :",x)

x : 5

In [9]:
# Addition and Equal to operator
x= 5
x+=5 #x = x+5
print("x: ",x)

x:  10

In [12]:
# Subtraction and Equal to operator
x = 6 
x-=2 #x = x-2
print("x:",x)

x: 4

# Comprasion Operator

In [14]:
# Equal to equal to operator
x = 5
y = 5
print(x==y)

True

In [15]:
# Not equal to operator
x = 5
y = 3
print(x!=y)

True

In [18]:
# Greater than equal to operator
x = 5
y = 3
print(x>=y)

True

# Logical operator

In [19]:
# And operator

x = 5
print(x>3 and x<3)

False

In [22]:
# or operator

x = 5
print(x>3 or x<4)

True

# Identity Operator

In [24]:
# is operator

x = ["Apple", "Mango"]
y = ["Apple", "Mango"]
z = x
print(x is y)# the object is not matching that why its give false
print(x is z)

False

# Membership Operators

In [27]:
x = ["Apple","Mango"]
print("banana"in x)
# print("graps" not in x)

False
True

In [28]:
x = ["Apple","Mango"]
print("pineapple"not in x)

True

# Operator Precedence

In [33]:
a = 20
b = 10
c = 15
d = 5


x = (a+b)*c/d               #(30*15)/5
print("value of x :",x)


y = ((a+b)*c)/d              #(30*15)/5 
print ("value of y :",y)


z = a+(b*c)/d                 #20+(150/5)
print("value of z :" ,z)

value : 90.0
value of y : 90.0
value of z : 50.0