# Functions

In [1]:
s = [1,2,3] # same are available by default
len(s)

3

In [2]:
 from math import sqrt # While some need to be imported:

In [3]:
sqrt(4)

2.0

In [4]:
import math #Entire modules can ne imported

In [5]:
math.exp(1)

2.718281828459045

In [6]:
def func_1(): # we can define our own functions:
    print("running func1")

In [7]:
func_1

In [8]:
def func_2(a,b):
    return a * b

In [11]:
func_2(10, 99)

990

In [16]:
func_2('ALEX',9)

'ALEXALEXALEXALEXALEXALEXALEXALEXALEX'

In [18]:
func_2('a','b') # it is possible to use type annotations

TypeError: can't multiply sequence by non-int of type 'str'

In [22]:
def func_3(a: int, b:int):
    return a * b

In [23]:
func_3(2, 3)

6

In [24]:
func_3('a', 2)

'aa'

In [25]:
my_func = func_3

In [26]:
my_func('a',2)

'aa'

In [27]:
def func_4():
    #does something but does not return a value
    a = 2

In [28]:
res = func_4()

In [29]:
print(res)

None

In [31]:
def fn_1():
    fn_2()
        
def fn_2():
    print('Hello')
    
fn_1()

Hello

In [32]:
func_5 = lambda x: x**2

In [33]:
func_5

In [34]:
func_5(2)

4